### Objectives
* Recap of Decision Tree
* Assumptions of Decision Tree
* Understanding Attribute selection algorithmn

*    Information Gain
*    Gini Impurity
### References

*   https://victorzhou.com/

### Recap of Decision Tree
* The general motive of using Decision Tree is to create a training model which can use to predict class or value of target variables by learning decision rules inferred from prior data(training data).
* The decision tree algorithm tries to solve the problem, by using tree representation.
* Each internal node (pink) of the tree corresponds to an attribute, and each leaf(blue) node corresponds to a class label.

### Assumptions of Decision Tree
* Feature values are preferred to be categorical. If the values are continuous then they are discretized prior to building the model.
* Records are distributed recursively on the basis of attribute values.
* Order to placing attributes as root or internal node of the tree is done by using some statistical approach. (TBD today)

### Improtance of metrices
* What is the most important thing to improve that thing ?
* If you cannot measure something, you cannot improve it.
* If you want to improve something, find a way to measure it.

### NOTE : The primary challenge in the decision tree implementation is to identify which attributes do we need to consider as the root node and each level. Handling this is to know as the attributes selection. We have different attributes selection measures to identify the attribute which can be considered as the root note at each level.m

### How Decision Trees Work
* The decision of making strategic splits heavily affects a treeâ€™s accuracy. The decision criteria are different for classification and regression trees.
* We can say that the purity of the node increases with respect to the target variable. The decision tree splits the nodes on all available variables and then selects the split which results in most homogeneous sub-nodes.
* Two types of algorithms are available in scikit-learn
    * Information Gain
    * Gini Impurity

In [7]:
import numpy as np
abs(np.round(-((1/6 * np.log2(1/6)) +(2/6* np.log2(2/6)) + (3/6* np.log2(3/6))),2))

1.46

In [11]:
6/6* np.log2(6/6)

0.0

In [20]:
# When 5 blues and 5 green
-((5/10 * np.log2(5/10))+(5/10 * np.log2(5/10)))

1.0

In [18]:
-((1/6* np.log2(1/6))+(5/6 *np.log2(5/6)))

0.6500224216483541

In [15]:
# When 4 blue and (1blue and 5 green)
0.4 *0+0.6*0.65

0.39

In [16]:
Information_Gain = 1 - 0.39

In [17]:
Information_Gain

0.61

In [21]:
-((1/7)* np.log2(1/7) + (5/7)*np.log2(5/7) + (1/7)*np.log2(1/7)    )

1.1488348542809166

In [22]:
import pandas as pd

In [23]:
tennis_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt')

In [24]:
tennis_data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [25]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
feature_target = oe.fit_transform(tennis_data)

In [26]:
feature_target

array([[2., 1., 0., 0., 0.],
       [2., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1.],
       [1., 2., 0., 0., 1.],
       [1., 0., 1., 0., 1.],
       [1., 0., 1., 1., 0.],
       [0., 0., 1., 1., 1.],
       [2., 2., 0., 0., 0.],
       [2., 0., 1., 0., 1.],
       [1., 2., 1., 0., 1.],
       [2., 2., 1., 1., 1.],
       [0., 2., 0., 1., 1.],
       [0., 1., 1., 0., 1.],
       [1., 2., 0., 1., 0.]])

### What is the Entropy of the data?
* A Measure of randomness is always with respect to target

In [27]:
tennis_data.play.value_counts()

yes    9
no     5
Name: play, dtype: int64

EntropyBeforeSplit  = -((5/14)*np.log2(5/14)+(9/14)*np.log2(9/14))

In [28]:
EntropyBeforeSplit = - ((5/14)*np.log2(5/14) + (9/14)*np.log2(9/14))

In [29]:
EntropyBeforeSplit

0.9402859586706311

### What are the attributes from which we have to select the best one?
* A. Outlook, Temp, Humidity, Windy

#### How is the data discretized by Decision Tree?
This is done using Binning Techniques
* For Outlook columns value ranges from [0,1,2]
    * Buckets[.,0.5,1.5,.]
* For Temp column
    * Buckets [.,0.5,1.5,.]
* For Humidity columns
    * Buckets [.,0.5,.]
* For Windy column
    * Buckets [.,0.5,.]

### What are the possible questions or decisions?
* For Outlook attribute, questions can be any of the following
    * (a) outlook < 0.5, (b) outlook < 1.5
* For Temp attribute, questions can be
    * (c) temp < 0.5, (d) temp < 1.5
* For Humidity
    * (e) humidity < 0.5
* For Windy
    * (f) windy < 0.5

### Conclusion : We have six questions to choose from for this dataset during training

### Which question to select from above ones ?
* A. The question using which if we split, we get maximum information gain.
### Let's calculate Information Gain using all these & identify the best question for root
* Let's check for question a

In [36]:
data = pd.DataFrame(feature_target, columns=['outlook','temp','humidity','windy','play'], dtype='int')

In [37]:
data[data.outlook <= 0.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
6         0     0         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1

In [38]:
data[data.outlook > 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [84]:
data[data.outlook > 0.5].play.value_counts()

1    5
0    5
Name: play, dtype: int64

In [85]:
entropyrightsplit = 1 ## data[data.outlook > 0.5]
entropyleftsplit = 0 #data[data.outlook <= 0.5]

In [86]:
entropysplit = (4/14)*0 + (10/14)*1

In [87]:
entropysplit

0.7142857142857143

In [88]:
information_gain_Q_a = EntropyBeforeSplit-entropysplit

In [89]:
information_gain_Q_a

0.22600024438491684

* Let's check information gain for question b outlook < 1.5

In [90]:
data[data.outlook <= 1.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
9         1     2         1      0     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [91]:
data[data.outlook > 1.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
7         2     2         0      0     0
8         2     0         1      0     1
10        2     2         1      1     1

In [92]:
data[data.outlook <= 1.5].play.value_counts()

1    7
0    2
Name: play, dtype: int64

In [93]:
data[data.outlook > 1.5].play.value_counts()

0    3
1    2
Name: play, dtype: int64

In [94]:
entropy_leftsplit = -((2/9)*np.log2(2/9) + (7/9)*np.log2(7/9))

In [95]:
entropy_rightsplit = -((3/5)*np.log2(3/5)+(2/5)*np.log2(2/5))

In [96]:
entropysplit = (9/14)*entropy_leftsplit + (5/14)*entropy_rightsplit

In [97]:
entropysplit

0.8380423950607804

In [98]:
information_gain_Q_b =  EntropyBeforeSplit -entropysplit

In [99]:
information_gain_Q_b

0.10224356360985076

* Repeat the steps for rest of the 4 questions.
* Choose the decision with highest information gain
* Based on my prev experiments, (a) decision was chosen because of higest information gain
### Now, we will be creating the subtree, root is decision (a)

In [100]:
subtree = data[data.outlook > 0.5]

In [101]:
subtree

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [102]:
subtree.play.value_counts()

1    5
0    5
Name: play, dtype: int64

In [136]:
entropy_before_split = -((5/10)*np.log2(5/10) +(5/10)*np.log2(5/10))

In [137]:
entropy_before_split

1.0

* Let's test for questions c (temp <= 0.5) & e (humidity <= 0.5)

In [106]:
subtree[subtree.temp <= 0.5]

   outlook  temp  humidity  windy  play
4        1     0         1      0     1
5        1     0         1      1     0
8        2     0         1      0     1

In [108]:
subtree[subtree.temp > 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [109]:
entropy_left_split = -((2/3)*np.log2(2/3) +(1/3)*np.log2(1/3))

In [110]:
entropy_left_split

0.9182958340544896

In [111]:
entropy_right_split = -((3/7)*np.log2(3/7) + (4/7)*np.log2(4/7))

In [112]:
entropy_right_split

0.9852281360342515

In [113]:
entropy_split = (3/10)*entropy_left_split + (7/10)* entropy_right_split

In [114]:
entropy_split

0.965148445440323

In [115]:
information_gain = entropy_before_split - entropy_split

In [117]:
information_gain

0.034851554559677034

* Using decision e

In [118]:
subtree[subtree.humidity <= 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
13        1     2         0      1     0

In [119]:
subtree[subtree.humidity > 0.5]

    outlook  temp  humidity  windy  play
4         1     0         1      0     1
5         1     0         1      1     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1

In [140]:
EntropyLeftSplit = -((1/5)*np.log2(1/5) + (4/5)*np.log2(4/5))

In [141]:
EntropyRightSplit = -((4/5)*np.log2(4/5) +  (1/5)*np.log2(1/5))

In [143]:
EntropySplit = (5/10)*EntropyLeftSplit + (5/10)*EntropyRightSplit

In [144]:
EntropySplit

0.7219280948873623

In [145]:
Information_Gain_Question_e = entropy_before_split - EntropySplit

In [146]:
Information_Gain_Question_e

0.2780719051126377