In [1]:
import pandas as pd

In [10]:
wine_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/winequality-white.csv')

In [11]:
wine_data.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [6]:
column = wine_data.columns[0].split(";")
for i in range(len(column)):
    column[i] = column[i].strip('"')

In [19]:
wine_data.iloc[1]

fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
Name: 1, dtype: object

In [7]:
observations =[]
for i in range(len(wine_data)):
    obs = wine_data.iloc[i][0]
    obs = obs.split(";")
    for i in range(len(obs)):
        obs[i] = float(obs[i])
    observations.append(obs)

In [8]:
df = pd.DataFrame(observations,columns=column)

In [9]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6.0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6.0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6.0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0

In [27]:
target = df.quality
for i in range(len(target)):
    target[i] = int(target[i])
features = df.drop(columns=['quality'])

In [26]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler(quantile_range=(0.0, 75.0))

In [28]:
feature_transformed = rs.fit_transform(features)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature_transformed, target, test_size=0.33, random_state=42)

In [30]:
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression()

In [31]:
lin_model.fit(X_train, y_train)
pred = lin_model.predict(X_test)

# accuracy checking
from sklearn.metrics import mean_squared_error, confusion_matrix, accuracy_score
print(mean_squared_error(y_test, pred))

0.5575767920541791